footer {

	background-color: map-get($site-colours, 'red');
	color: map-get($site-colours, 'white');
	
	.inner{
		@include container();

		padding-top: 3rem;
		padding-bottom: 3rem;

		display: flex;
		flex-direction: column;
		gap: 1rem;

	}
	
	
	@include breakpoint($md-down){
		text-align: center;
	}
	
	@include breakpoint($xl){
		
	}

	.footer-logo{
		svg{
			width: 100px;
			height: 100px;
			
			use{
				fill: #fff;

				.st1 {
					fill: #e30613;
				}
			}
		}
	}

	.footer{
		&__socials-block{
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0.5rem;
			border-top: 1px solid #fff;
			margin: 0 5rem;
			padding-top: 1rem;

			ul{
				display: flex;
				gap: 0.5rem;
			}
		}
	}
	
	
	
	.backTop {
		position: absolute;

		@include breakpoint($md-down) {
			bottom: 10rem;
			right: 1rem;
		}

		@include breakpoint($md) {
			bottom: 8rem;
			right: 2rem;
		}
	}
}
