footer {

	background-color: map-get($site-colours, 'red');
	color: map-get($site-colours, 'white');
	
	.inner{
		@include container();

		padding-top: 3rem;
		padding-bottom: 3rem;

	}
	
	
	@include breakpoint($md-down){
		text-align: center;
	}
	
	@include breakpoint($xl){
		
	}

	.footer-logo{
		svg{
			//width: 80px; // determines the width of the svg box wrapper.
			use{
				fill: #fff;

				.st1 {
					fill: #e30613;
				}
			}
		}
	}
	
	
	
	.backTop {
		position: absolute;

		@include breakpoint($md-down) {
			bottom: 10rem;
			right: 1rem;
		}

		@include breakpoint($md) {
			bottom: 8rem;
			right: 2rem;
		}
	}
}
