.site-header {
	width: 100%;
	z-index: 10;
	position: absolute;

	@include breakpoint($lg-down) {
		height: $sm_header-height;
		//position: fixed;
		//background-color: rgba(42,43,46, 0.75);
		//backdrop-filter: blur(4px);
	}

	@include breakpoint($lg){
		height: $lg_header-height;
	}


	&.offscreen {
		@include breakpoint($md) {
			position: fixed;
			top: -100px;
			transition: top linear 0.085s;
		}
	}


	&.scrolled {
		@include breakpoint($md) {
			background-color: map-get($site-colours, 'red');
			//backdrop-filter: blur(4px);
			top: 0;
			transition: top linear 0.15s;
		}

		.site-logo {
			.logo {
				width: 30vw;
				min-width: 100px;
				max-width: 500px;

				@include breakpoint($md) {
					
				}
			}
		}
	}


	.inner {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include breakpoint($md-down) {
			height: 100%;
			@include padding-x(20px);
		}

		@include breakpoint($md) {
			@include padding-y(35px);
			/* site container */
			@include padding-x(3vw);
		}
	}

	.site-logo {
		pointer-events: all;
		

		.logo {
			width: 30vw;
			min-width: 140px;

			@include breakpoint($md-down) {
				max-width: 180px;
			}

			@include breakpoint($md) {
				max-width: 200px;
			}
		}
	}
}
