.section__hero {
	position: relative;

	@include breakpoint($landscape $lg-down) {
		height: unset;
	}

	@include breakpoint($md-down) {
		height: calc(100vh); // 75px header height on mobile.
	}

	.inner {
		display: flex;
		flex-direction: column;
		position: relative;

		@include container();

		

		@include breakpoint($md-down) {
			justify-content: center;
			height: 100%;
			gap: 2rem;
			padding-top: calc(3rem + $sm_header-height);
		}

		@include breakpoint($lg) {
			height: 100%;
			min-height: 778px;
			justify-content: center;
			align-items: center;
			padding-top: calc(3rem + $lg_header-height);
			padding-bottom: 3rem;	

			max-width: 800px;
			margin: 0 auto;
			text-align: center;
			gap: 2rem;
		}
	}

	.hero-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include breakpoint($md-down) {
			justify-content: flex-end;
		}

		@include breakpoint($sm_l) {
			padding-bottom: 3rem;
		}
	}

	.hero{
		&__heading{
			font-size: 48px;
			font-weight: 900;
			line-height: 3rem;
		}

		&__strapline{
			line-height: 1.25rem;
		}

		&__cta-block{
			display: flex;
			gap: 1rem;

			.cta{
				background-color: rgba(255,255,255,0.85);
				color: map-get($site-colours, 'red');	
			}
		}
	}


	&.__uses-bg-image{
		background-size: cover;
		background-position: bottom center;
	}

	&.__has-overlay{
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.15);
		}

	}



}


.feature-hero {
	height: 100vh;
	
	.inner {
		flex-direction: column;

		&.container {
			@include breakpoint($md-down) {
				padding: 0;

				h1, p {
					padding-left: 25px;
					padding-right: 25px;
				}
			}
		}
	}

	.hero-content {
		text-align: center;
		flex-grow: 1;
		justify-content: center;
	}

	.logo-wrapper {

	}

	
}





.secondary-hero {
	
}
