.image-display-grid{
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;

    @include breakpoint($md-down){
        //grid-template-columns: repeat(2, 1fr); /* 3 equal columns */
        grid-template-rows: repeat(2, 1fr); /* 2 equal rows */
        grid-template-columns: minmax(0, 1fr) 300px;
    }

    @include breakpoint($md){
        grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
        grid-template-rows: repeat(2, 1fr); /* 2 equal rows */
    }
    

    width: 100%;

    .cg{

       &__item{

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

       } 
    }
}