// Sections scss
// 'Sections' are essentially panels of content that are used to break up the page into more manageable chunks.

.section {

	// .section__content - this is a main, generic content panel, use as a standard for most content sections.
	&__content {
		.container {
			@include container();
			
			padding-top: 3rem;
			padding-bottom: 3rem;

				
			@include breakpoint($md){
				padding-top: 3rem;
				padding-bottom: 3rem;
			}

			
		}
		
		.heading{
			font-size: 55px;
			margin-bottom: 2rem;
		}

		hr{
			margin-top: 2rem;
			margin-bottom: 2rem;
			border-width: 1px 0 0 0;
		}
		
		.content{
			&__heading{
				font-size: 55px;
				font-family: $font-heading-family;
			}
		}
	}

	&__divider{
		.inner{
			border-top: 1px solid rgba(128,128,128, 0.5);
		}
	}

	
	// .section__who-we-are
	&__who-we-are {

		.content__heading{
			margin-bottom: 2rem;
		}

		.feature-blocks{}

	}

	&__our-team{
		.content__heading{
			margin-bottom: 2rem;
		}

		.featured-services{
			
		}
  	}

	&__our-clients{
		.content__heading{
			margin-bottom: 2rem;
		}

	}

	&__learn-more__cta{
		.cta{
			&__details{
				margin-top: 2rem;
			}

			&__list{
				display: flex;
				flex-direction: column;
				gap: 0.75rem;
			}
			
			&__item{

				&-icon{
					font-size: 1.5rem;
				}

				&-link{
					display: flex;
					gap: 0.75rem;
					text-decoration: none;
					align-items: center;
					color: black;

					&:hover,
					&:focus{
						.text{
							text-decoration: underline;
						}
					}
				}
			}

			&__form{
				gap: 1rem 0.5rem;
				justify-content: space-between;

				.form__field-block{
					.ff{
						&__field{
							&.text-input,
							&.email-input,
							&.number-input,
							&.textarea{
								border-color: map-get($site-colours, 'red');
								background-color: transparent;
							}
						}
					}
				}	
			}
		}
	}



	// Section colour variations ---------------------
	&__blue{
		background-color: map-get($site-colours, 'blue');
		color: white;
	}

	&__l-grey{
		background-color: map-get($site-colours, 'l-grey');
		color: black;
	}
  }

  