// Sections scss
// 'Sections' are essentially panels of content that are used to break up the page into more manageable chunks.

.section {

	// .section__content - this is a main, generic content panel, use as a standard for most content sections.
	&__content {
		.container {
			padding-top: 3rem;
			padding-bottom: 3rem;
				
			@include breakpoint($md){
				padding-top: 3rem;
				padding-bottom: 3rem;
			}
		}
		
		.heading{
			font-size: 55px;
			margin-bottom: 2rem;
		}

		hr{
			margin-top: 2rem;
			margin-bottom: 2rem;
			border-width: 1px 0 0 0;
		}
		
		.content{
			&__heading{
				font-size: 55px;
				font-family: $font-heading-family;
			}
		}
	}
	
	// .section__who-we-are
	&__who-we-are {

		.content__heading{
			margin-bottom: 2rem;
		}

		.feature-blocks{}

	}

	&__our-team{
		.content__heading{
			margin-bottom: 2rem;
		}

		.featured-services{
			
		}
  	}



	// Section colour variations ---------------------
	&__blue{
		background-color: map-get($site-colours, 'blue');
		color: white;
	}
  }

  