// Generic form stuff:
form{
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .form__field-block{
        display: flex;
        flex-direction: column;        

        &.inline{
            flex: 1;
        }

        &.full-width{
            width: 100%;
        }
    }
}


// Specific form stuff:
