/*@import url("https://use.typekit.net/oex0swt.css");
*/

/*@font-face {
	font-family: 'Lato light';
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}*/

$font-path: './fonts/';

@font-face {
	font-family: "Gotham Bold";
	src: url($font-path + '/gotham-bold/gotham-bold.otf') format('opentype');
  }


// -------

h1, h2, h3, h4, h5, h6{
	margin: unset;
	padding: unset;
	font-family: $secondary-font-family;
	font-weight: 400;
}

p{
	margin: unset;
	padding: unset;
}